%h1 Contact
-# .contact
-#   - data.contact.each do |contact|
-#     %h6= contact[:name]
-#     %p= contact[:url]
%li-style-type:none
  %a{:href => 'https://www.linkedin.com/in/george-lewis-0b565938/'} Linkedin

  %li-style-type:none
    %a{:href => 'georgejlewis@hotmail.com'} Email
      
