%h1 Portfolio of George Lewis

=image_tag "george.jpeg"

%p George Lewis is awesome!
%p George Lewis PHD

%p
%a{:href => 'about_me.html'} About Me
%a{:href => 'projects.html'} My Projects
%a{:href => 'contact.html'} Contact
